.section-specialty {
    height: 330px;
    background: #f5f5f5;

    .specialty-container {
        margin: 0 170px;
        display: flex;
        flex-direction: column;

        .specialty-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .specialty-body {

            .specialty-customize {
                .bg-image {
                    background: url(../../../assets/specialty/co-xuong-khop.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                    width: 278px;
                    height: 150px;
                }
            }

            .slick-prev {
                border: 1px solid green !important;
                left: -10 !important;
                z-index: 1 !important;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #eeecec !important;
                }
            }

            .slick-next::before,
            .slick-prev::before {
                font-family: FontAwesome !important;
                color: red !important;
            }

            .slick-next {
                border: 1px solid green !important;
                right: -10 !important;
                z-index: 1 !important;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #eeecec !important;
                }
            }
        }
    }


}